body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

.container {
    margin: 20px;
}

.titleBar {
    width: 100%;
    background-color: white;
    margin: 0;
    padding: 10px;
    margin-bottom: 40px;
    box-shadow: 2px 2px 10px 1px gray;
}

.flexy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 80px;
    padding-right: 80px;
}

.inputBar {
    width: 30%;
    padding: 5px;
    margin: 20px;
    border: 0;
    box-shadow: 2px 2px 10px 1px gray;
    height: 30px;
    border-radius: 5px;
}

.dropDown {
    border: 0;
    padding: 5px;
    height: 40px;
    box-shadow: 2px 2px 10px 1px gray;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
}

.results {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 60px;
    padding: 10px;
    margin: 10px;
}

.results div {
    margin: 0;
    background-color: white;
    border-radius: 20px;
}

.flag {
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    border-radius: 10px 10px 0 0;
}

.countryBlock {
    display: grid;
    grid-template-rows: minmax(200px, 250px) minmax(200px, 200px) ;
}

.info {
    padding-left: 30px;
}

.blank {
    grid-column: span 4;
    text-align: center;
}