body {
    background-color: hsl(0, 0%, 98%);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Nunito Sans', sans-serif;
    color: hsl(200, 15%, 8%);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: hsl(200, 15%, 8%);
}

a:visited {
    color: hsl(200, 15%, 8%);
}

.container {
    margin: 20px;
}

.title {
    font-weight: 800;
    font-size: 2rem;
}

.darkToggle {
    margin-top: 10px;
    font-weight: 800;
}

.titleBar {
    width: 100%;
    margin: 0;
    padding: 10px;
    margin-bottom: 40px;
    box-shadow: 2px 2px 2px 1px gray;
}

.flexy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 80px;
    padding-right: 80px;
}

.inputBar {
    width: 25%;
    padding: 5px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    height: 30px;
    border-radius: 5px;
    color: hsl(0, 0%, 52%);
    font-size: 1.1rem;
}

.dropDown {
    border: 0;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 20%;
    font-size: 1.1rem;

}

.results {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 100px;
    padding: 10px;
    margin: 60px;
}

.results div {
    margin: 0;
    /*background-color: white;*/
}

.flag {
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    
}

.countryName {
    font-size: 1.5rem;
}

.countryBlock {
    display: grid;
    grid-template-rows: minmax(200px, 250px) minmax(200px, 200px) ;
}

.info {
    padding-left: 30px;
    line-height: 1;
    border-radius: 0px 0px 15px 15px;
}

.blank {
    grid-column: span 4;
    text-align: center;
}

.detailFlex {
    margin: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
}

.detailFlag {
    max-width: 80%;
    max-height: 50%;
    width: 100%;

}

.infoGrid {
    display: grid;
    margin: 20px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.neighborList {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
}

.neighborList p {
    margin: 20px;
    padding-top: 10px;
}

.neighborList li {
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px gray;
}

.homeButton {
    width: 100%;
    padding-left: 100px;
    padding-top: 40px;
}

.homeButton button {
    border: 0;
    background-color: white;
    box-shadow: 0px 0px 2px 1px gray;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}

.far, .fas {
    margin-right: 15px;
}

.darkToggle {
    border: 0;
    background-color: white;
    box-shadow: 0px 0px 2px 1px gray;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    
    html, body {
        overflow-x: hidden;
    }

    body {
        position: relative;
        width: 100%;
    }

    .title {
        font-size: 1rem;
        margin-right: 15px;
    }

    .darkToggle {
        font-size: 1rem;
    }

    .flexy {
        margin: 5px;
        padding: 10px;
        flex-direction: column;
    }

    .inputBar {
        font-size: 1rem;
        margin: auto;
        width: 100%;
        box-shadow: none;
        padding: 0;
        padding-left: 10px;
        height: 40px;
        margin-bottom: 20px;
    }

    .dropDown {
        font-size: 1rem;
        margin: auto;
        box-shadow: none;
        width: 80%;
        padding: 0;
        height: 40px;
    }

    .results {
        grid-template-columns: 1fr;
        grid-gap: 30px;
        margin: 10px;
    }

    .mobileRow {
        flex-direction: row;
    }

    .homeButton {
        padding: 10px;
    }

    .detailFlex {
        margin: 10px;
        grid-template-columns: 1fr;
        width: 100%;
        padding: 10px;
        grid-gap: 20px;
    }

    .detailFlag {
        max-width: 85%;
    }

    .mobileTitle {
        font-size: 1.5rem;
    }

    .infoGrid {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .neighborList {
        padding-left: 10px;
        padding-right: 10px;
    }

    .neighborList li {
        margin: 10px;
    }

    .neighborList p {
        display: block;
        width: 80%;
    }
}